<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PrismCreatorBootstrap/src/xoric/prism/creator/bootstrap/PrismCreatorBootstrap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="xoric.prism.creator.bootstrap.PrismCreatorBootstrap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PrismCreatorBootstrap"/>
</launchConfiguration>
